#direction-btns{
	position: fixed;
	left: 40%;
	top: 30%
}
input[type="button"]
{
	
	font-size: 30px;
}
input[value='↓']
{
margin-left: 32.2%;
}
input[value='↑']
{
margin-left: 32%;
}

#down_nav
{
	position: fixed;
	left: 40%;
	top: 90%;
}
.nav-ico
{
	width: 30%;
	height: 30%;
	float: left;
}
#numShow
{
position: fixed;
	left: 60%;
	border: dotted;
}
#numShow > p
{
	margin: 10px,0px;
	
}
input[type="button"]
{
	width: 30%;
	height: 30%;
	background: #985051;
}
input[type="button"]:active
{
	background: #56A989;
}


